/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #33475b;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

.font-small {
    font-size: 10px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.line-h {
    line-height: 25px;
}

/* UTILITIES */
/* layout  */
.container {
    width: 1000px;
    margin: 0 auto;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-50 {
    width: 50%;
}

.w-70 {
    width: 70%;
}

.float-left {
    float: left;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* list */
li {
    display: inline-block;
    list-style: none;
}

ul a {
    text-decoration: none;
    color: #33475b;
}

.display-block {
    display: block;
}

/* button */
.btn {
    padding: 10px;
    min-width: 100px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid transparent;
    text-decoration: none;
}

.btn-white {
    color: #fe775a;
    background-color: white;
    border-color: #fe775a;
}

.btn-color {
    color: white;
    background-color: #fe775a;
}

.btn-large {
    padding: 15px 25px;
    display: inline-block;
}

/* HEADER */
header {
    line-height: 65px;
} 

.header_top,
.header_bottom {
    height: 65px;
}
.header_top {
    background-color: #f4f9fd;
    border-bottom: 1px solid #33475b;
}

.header-top-left li:first-child a {
    padding-right: 15px;
    border-right: 1px solid #33475b;
}

.header-top-left li:last-child a,
.header-bottom-right li {
    margin-left: 20px;
}

.arrow {
    margin-left: 5px;   
}

.header-top-right .btn-white {
    margin: 0 20px;
}

.header-bottom-left img {
    vertical-align: middle;
}

/* MAIN CONTENT  */
/* section_1_jumbotron */
.jumbotron {
    height: 480px;
    background-color: #fff4ef;
    background-image: url(../img-hubspot/jumbotron.png);
    background-size: 1150px;
    background-repeat: no-repeat;
    background-position: right -12px;   
}

.jumbotron .container {
    padding: 55px 0;
}

.jumbotron h1{
    font-size: 40px;
}

.jumbotron p {
    margin: 30px 0;
}
  
.lawn {
    height: 70px;
    background-color: #afebe4;
    border-top: 3px solid #33475b;
    border-bottom: 3px solid #33475b;
}

/* section_2 */
.section_2 {
    padding-bottom: 40px;
    background-color: #f4f9fd;
}

/* subsection_1 */
.subsection.one {
    padding: 45px 115px;
}

.subsection.one img {
    width: 25%;
}

.subsection.one p {
    margin-top: 20px;
}

/* subsection_2 */
.subsection.two {
    padding: 50px 0;
    background-color: #fff;
}

.subsection2-left img {
    width: 40%;
    margin-bottom: 10px;
}

.subsection2-right {
    padding-right: 100px;
    position: relative;
}

.subsection2-right hr {
    width: 60%;
    position: absolute;
    right: 13%;
    bottom: 28%; 
}

.subsection2-right h3 {
    margin-bottom: 25px;
}

.subsection2-right h4 {
    margin: 15px 0;
}

.check {
    color: #fe775a;
    margin-right: 5px;
}

.subsection2-right li {
    margin-right: 15px;
}

/* subsection_3  */
.subsection.three {
    height: 530px;
    margin-top: 40px;
}
.subsection.three .columns {
    width: 30%;
    height: 100%;
    padding: 15px;
    background-color: white;
}

.columns.second {
    margin: 0 5%;
}

.columns img {
    height: 18%;
    margin-bottom: 5px;
}

.columns p {
    margin: 20px 0 40px 0;
}

.columns h4 {
    margin: 25px 0 15px 0;
}

.columns ul {
    text-align: left;
    line-height: 15px;
}

.columns a {
    margin-top: 38px;
}

.subsection.two,
.subsection.three .columns {
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
}

/* section_3 */
.section_3 {
    padding: 40px 0;
    color: white;
    background-image: linear-gradient(to bottom right, #00abb6, #00b6ad);
}

.section_3 p {
    margin: 25px 0;
}

.section_3 .row {
    height: 150px;   
}

.section_3 .row.one {
    border-bottom: 1px solid;
}

.row .number {
    font-size: 35px;
    font-weight: bold;
    margin: 10px 0;
}

.row .cell:not(:last-child) {
    height: 100%;
    border-right: 1px solid;
}

.row img {
    margin-top: 15px;
}

.cell.eight img {
    padding-top: 4%;
}

/* section_4 */
.section_4 {
    height: 200px;
}

.section_4 .section-left {
    padding: 20px 60px;
}

.section_4 li:first-child {
    font-size: 40px;
    font-weight: bold;
    margin: 25px 0;
}

.section_4 li span {
    font-weight: bold;
}

.section_4 .section-right {
    margin-top: 35px;
}

.section_4 .section-right img {
    width: 15%;
    margin: 10px;
    vertical-align: middle;
}

/* section_5  */
.section5-text {
    padding-right: 7%;
    margin-top: 50px;  
}

.section5-text:first-child p{
    margin: 30px 0 20px 0;
}

.section5-image img {
    width: 55%;
}

/* FOOTER  */
footer {
    margin-top: 20px;
    padding: 30px 0;
    color: #dadee0;
    background-color: #32495b;
}

footer .nav-top li {
    line-height: 30px;
}

footer li:first-child {
    margin-bottom: 10px;
}

footer .btn {
    display: inline-block;
    padding: 5px 10px;
    margin: 15px 0;
    background: #dadee0;
}

footer i {
    color: #dadee0;
    margin-right: 15px;
}

footer .languages {
    margin: 50px auto 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dadee0;
}

footer .languages li {
    margin: 0 10px;
}

.footer-privacy li {
    margin-left: 10px;
}











    
